<!-- <app-main></app-main>
<br/><br/><br/>
<div style>
<div class="row">
    <div class="col-md-3"></div>
<button class="btn btn-primary col-md-4">IT</button>&nbsp;&nbsp;
<button routerLink="cse" class="btn btn-primary col-md-4">CSE</button>&nbsp;&nbsp;
</div>
<br/>
<div class="row">
    <div class="col-md-3"></div>
<button class="btn btn-primary col-md-4">ECE</button>&nbsp;&nbsp;
<button class="btn btn-primary col-md-4">EEE</button>&nbsp;&nbsp;
</div>
<br/>
<div class="row">
    <div class="col-md-3"></div>
<button class="btn btn-primary col-md-4">CIVIL</button>&nbsp;&nbsp;
<button class="btn btn-primary col-md-4">MECH</button>&nbsp;&nbsp;
</div>
</div> -->

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Jomhuria&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
<app-main></app-main>
    <div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-2">
    <a [routerLink]="['/cse']" [queryParams]="{dept:'cse'}"><div class="card" style="height: 120px;background-color:#4B4BA3
        ;margin-top: 10px;color: white;align-items: center;font-family: 'Jomhuria', cursive;
        font-family: 'Libre Baskerville', serif;font-size: medium"><h1 style="margin-top: 40px;font-size: x-large;">CSE</h1></div></a>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <a [routerLink]="['/cse']" [queryParams]="{dept:'it'}"><div class="card" style="height: 120px;background-color:#4B4BA3
            ;margin-top: 10px;color: white;align-items: center;font-family: 'Jomhuria', cursive;
            font-family: 'Libre Baskerville', serif;font-size: medium"><h1 style="margin-top: 40px;font-size: x-large;">IT</h1></div></a>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <a [routerLink]="['/cse']" [queryParams]="{dept:'ece'}"><div class="card" style="height: 120px;background-color:#4B4BA3
                ;margin-top: 10px;color: white;align-items: center;font-family: 'Jomhuria', cursive;
                font-family: 'Libre Baskerville', serif;font-size: medium"><h1 style="margin-top: 40px;font-size: x-large;">ECE</h1></div></a></div>
</div>
        <div class="row" style="height: 50px;"></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-2">
                <a [routerLink]="['/cse']" [queryParams]="{dept:'civil'}"><div class="card" style="height: 120px;background-color:#4B4BA3
                    ;margin-top: 10px;color: white;align-items: center;font-family: 'Jomhuria', cursive;
                    font-family: 'Libre Baskerville', serif;font-size: medium"><h1 style="margin-top: 40px;font-size: x-large;">CIVIL</h1></div></a></div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <a [routerLink]="['/cse']" [queryParams]="{dept:'eee'}"><div class="card" style="height: 120px;background-color:#4B4BA3
                    ;margin-top: 10px;color: white;align-items: center;font-family: 'Jomhuria', cursive;
                    font-family: 'Libre Baskerville', serif;font-size: medium"><h1 style="margin-top: 40px;font-size: x-large;">EEE</h1></div></a></div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <a [routerLink]="['/cse']" [queryParams]="{dept:'mech'}"><div class="card" style="height: 120px;background-color:#4B4BA3
                        ;margin-top: 10px;color: white;align-items: center;font-family: 'Jomhuria', cursive;
                        font-family: 'Libre Baskerville', serif;font-size: medium"><h1 style="margin-top: 40px;font-size: x-large;">MECH</h1></div></a></div>
        </div>
        
    <img src="https://hack.codingblocks.com/_nuxt/img/d688d5e.gif" style="margin-left: 500px; margin-top: 10px;">
<!-- <button class="btn btn-primary col-md-4">IT</button>&nbsp;&nbsp;
<button routerLink="cse" class="btn btn-primary col-md-4">CSE</button>&nbsp;&nbsp;
</div>
<br/>
<div class="row">
    <div class="col-md-3"></div>
<div class="card col-md-4">ECE
    
</div>&nbsp;&nbsp;
<button class="btn btn-primary col-md-4">EEE</button>&nbsp;&nbsp;
</div>
<br/>
<div class="row">
    <div class="col-md-3"></div>
<button class="btn btn-primary col-md-4">CIVIL</button>&nbsp;&nbsp;
<button class="btn btn-primary col-md-4">MECH</button>&nbsp;&nbsp; -->

</div>