<app-main></app-main>
<div class="container">
  <div class="row">
     <div class="col-lg-1"></div> 
    
    <div class="col-lg-11">
      <div class="row">

      
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          
        <h1>BOOTSTRAP</h1>
        <p>Bootstrap is a potent front-end framework</p>
        <!-- <a href="https://getbootstrap.com/docs/4.0/getting-started/download/" target="_blank" class="btn btn-primary">Download</a> -->

        </div>
        <a href="https://getbootstrap.com/docs/4.0/getting-started/download/" target="_blank">Download</a>
        <div class="ico-card">
          <!-- <i class="fa fa-bootstrap"></i>  -->
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>Rad Studio</h1>
        <p>Design Beautiful Desktop and Mobile App UIs with RAD Studio</p>
        </div>
        <a href="https://www.embarcadero.com/products/rad-studio/start-for-free" target="_blank">Download</a>
      <div class="ico-card">
        <!-- <i class="fa fa-codepen"></i> -->
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div class="txt">
          <h1>Visual Studio</h1>
          <p>Visual Studio is an integrated development environment</p>
        </div>
        <a href="https://visualstudio.microsoft.com/downloads/" target="_blank">Download</a>
      <div class="ico-card">
        <!-- <i class="fa fa-empire"></i> -->
      </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="container">
  <div class="row">
     <div class="col-lg-1"></div> 
    
    <div class="col-lg-11">
      <div class="row">

      
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>Git Hub</h1>
          <p>GitHub is a web-based version-control</p>
        </div>
        <a href="https://github.com/" target="_blank">Download</a>
        <div class="ico-card">
         <!-- <i class="fa fa-github"></i>  -->
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>Bit Bucket</h1>
          <p>Bitbucket is our Git repository management solution</p>
        </div>
        <a href="https://bitbucket.org/" target="_blank">Download</a>
      <div class="ico-card">
         <!-- <i class="fa fa-bitbucket"></i>  -->
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div class="txt">
          <h1>Sublime</h1>
          <p>Sublime Text is a shareware cross-platform source code editor</p>
        </div>
        <a href="https://www.sublimetext.com/" target="_blank">Download</a>
      <div class="ico-card">
        <!-- <i class="fa fa-empire"></i> -->
      </div>
      </div>
      </div>
      
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
     <div class="col-lg-1"></div> 
    
    <div class="col-lg-11">
      <div class="row">

      
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>Node Js</h1>
          <p>Node js is an open source server environment</p>
        </div>
        <a href="https://nodejs.org/en/download/" target="_blank">Download</a>
        <div class="ico-card">
          <!-- <i class="fa fa-node-js"></i> -->
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>Android Studio</h1>
          <p>Android Studio provides a unified environment where you can build apps</p>
        </div>
        <a href="https://developer.android.com/studio" target="_blank">Download</a>
      <div class="ico-card">
         <!-- <i class="fa fa-android"></i>  -->
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div class="txt">
          <h1>Eclipse</h1>
          <p>Eclipse is an integrated development environment</p>
        </div>
        <a href="https://www.eclipse.org/downloads/" target="_blank">Download</a>
      <div class="ico-card">
        <!-- <i class="fa fa-empire"></i> -->
      </div>
      </div>
      </div>
      
    </div>
  </div>
</div>
</div>