<!-- <div *ngIf="service.isUserLogged"> -->
 <div class="col-md-4" style="float: left; position: fixed;margin-left: -20px;">
  <div class="wrapper d-flex align-items-stretch" style="height: 100%;">
      <nav id="sidebar" style="height: 850px;">
          <div class="p-4">
            <br/>
                <h1><a href="index.html" class="logo">Edumate</a></h1> 
                <ul class="list-unstyled components mb-5">
                  <li>
                    <!-- <div class="m-b-25"> <img src={{img}} height="100px" width="100px" style="margin-left: 50px;" class="rounded-circle"> </div> -->

                    <a routerLink="/profile" routerLinkActive="active" style="font-size:24;"><span class="fa fa-user mr-3"></span> My Profile</a>
                  </li>
        
                    <li class="active">
                    <a routerLink="/regulation"> <span class="fa fa-bars mr-3"></span> Regulation  
          
                    </a>
          </li>
          <li>
              <a routerLink="/ebooks" routerLinkActive="active"><span class="fa fa-book mr-3"></span> E-Books</a>
          </li>
          <li>
            <a routerLink="/tips" routerLinkActive="active"><span class="fa fa-briefcase mr-3"></span> Interview Archives</a>
          </li>
          <li>
            <a routerLink="/forums" routerLinkActive="active"><span class="fa fa-sticky-note mr-3"></span> Forum</a>
          </li>
          <li>
            <a routerLink="/practice" routerLinkActive="active"><span class="fa fa-code mr-3"></span> Practice Coding</a>
          </li>
          <li>
            <a routerLink="/timetable" routerLinkActive="active"><span class="fa fa-tasks mr-3"></span> Time Table</a>
          </li>
          <li>
            <a routerLink="/software" routerLinkActive="active"><span class="fa fa-download mr-3"></span> Software Tools</a>
          </li>
          <li>
            <a routerLink="/suggestions" routerLinkActive="active"><span class="fa fa-comment mr-3"></span> Suggestions</a>
          </li>
          <li>
            <a routerLink="/logout" routerLinkActive="active"><span class="fa fa-power-off mr-3"></span> Logout</a>
          </li>
          <br/><br/>
          
        </ul>
  
        
  
      </div>
    </nav>
  </div>
  </div> 
  
<!-- </div> -->
  