<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Zerotheme dot com - Free Responsive Html5 Templates">
    <meta name="author" content="https://www.Zerotheme.com">
	
    <title>Dancing | Free Bootstrap Chocolate Templates</title>
	
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet">
	
	<!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	
	<!-- jQuery and Modernizr-->
	<script src="js/jquery-2.1.1.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<!--Top-->
			<!-- Static Header -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="#">EDUMATE</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  
				<div class="collapse navbar-collapse" id="navbarColor01">
				  <ul class="navbar-nav mr-auto" style="float: right;">
				  
					<li class="nav-item active">
					  <a class="nav-link" routerLink="login" style="margin-left: 1100px;">Login<span class="sr-only">(current)</span></a>
					</li>
					
					<li class="nav-item">
					  <a class="nav-link" routerLink="adminlogin">Admin Login</a>
					</li>
										
				   <!-- <li class="nav-item">
					  <a class="nav-link" style="margin-left: 800px;" routerLink="logout">Logout</a>
					</li> -->
					</ul>
					</div>
					</nav>
					<header class="main-header">

		<div class="header-text">
			<div class="col-md-12 text-center">
				<!-- <img src="https://images.unsplash.com/photo-1494599948593-3dafe8338d71?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjF8fGVkdWNhdGlvbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" width="1500px" height="400px"> -->
				<span>EDUMATE</span>
				<h2 style="font-size: 2.5rem;color: antiquewhite;">Education is the movement from darkness to light</h2>
				<p>"One Step Ahead from others"</p> 
				<!-- <a href="#" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
			</div>
		</div><!-- /header-text -->
		</header>
		

	<br/>
	<br/>
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1" id="nav-work">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>01</h1></div>
							<h3>REGULATIONS</h3>
							<p>Where you can find all<br/> regulation pdf's</p>
						</div>
					</div>
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>02</h1></div>
							<h3>E-BOOKS</h3>
							<p>Where you can find E-books<br/> of all subjects</p>
						</div>
					</div>
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>03</h1></div>
							<h3>ARCHIVES</h3>
							<p>Which helps you to crack <br/> an Interview</p>
						</div>
					</div>
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>04</h1></div>
							<h3>PRACTICE CODING</h3>
							<p>Platform to code<br/>with out any installations</p>
						</div>
					</div><!-- end inner row -->
				</div>
			</div>
		</section>

        <section class="box-content box-1" id="nav-work">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>05</h1></div>
							<h3>TIME TABLE</h3>
							<p>Follow your timetable <br/> to manage yourself</p>
						</div>
					</div>
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>06</h1></div>
							<h3>SOFTWARE TOOLS</h3>
							<p>To find best software <br/> development tools</p>
						</div>
					</div>
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>07</h1></div>
							<h3>FORUM</h3>
							<p>Where ideas and views <br/> can be exchanged</p>
						</div>
					</div>
					<div class="col-sm-3 nopadding">
						<div class="box-item">
							<div class="icon"><h1>08</h1></div>
							<h3>SUGGESTIONS</h3>
							<p>Got a suggestion <br/> jot it down</p>
						</div>
					</div><!-- end inner row -->
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 02 -->
		<section class="box-content box-2" id="nav-about">
			<div class="container-fluid">
				<div class="row heading">
					<div class="col-lg-12">	
						<h2>WE OFFER A FREE AND</h2>
						<div class="intro">EFFECTIVE EDUCATION</div>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 nopadding">
						<article class="home-post position-top">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box zoom-effect" href="single.html">
										<img src="https://images.squarespace-cdn.com/content/v1/593ce5d5a5790aa6650d675e/1497228713977-YD6KUXD8KEK667CK7UOA/ke17ZwdGBToddI8pDm48kDciG-mxhtgM8fmVJ9qPvCNZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwnWjz6-LFe--IKIilZkCckSX2qkks6FgjsL9Ot7Dbi2dgrHjjF5YN8PsHmm5DlxXk/Girls+who+code.jpg" class="img-responsive" alt="">
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">Interview Skills</a>
									
								</h6>
								<p>Interview skills are an essential tool for all students in today's world of employment as there is increasing competition for job vacancies. This is largely due to the rise in graduation rates, consequently there are far more candidates applying for the same jobs.</p>
								
							</div>
						</article>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 nopadding">
						<article class="home-post position-bottom">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box zoom-effect" href="single.html">
										<img src="https://images.indianexpress.com/2020/03/classroom.jpg" class="img-responsive" alt="" style="height: 350px;">
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">E-LEARNING</a>
									
								</h6>
								<p>Online learning is education that takes place over the Internet. It is often referred to as “E- learning” among other terms. However, online learning is just one type of “distance learning” - the umbrella term for any learning that takes place across distance and not in a traditional classroom.
								</p>
								
							</div>
						</article>
					</div>
					<div class=" col-lg-4 col-md-4 col-sm-4 col-xs-12 nopadding">
						<article class="home-post position-top">
							<div class="entry-header">
								<div class="entry-thumb">
									<a class="portfolio-box zoom-effect" href="single.html">
										<img src="https://img.freepik.com/free-photo/collage-female-is-reading-book_1421-3697.jpg?size=626&ext=jpg" class="img-responsive" alt="">
									</a>
								</div>
							</div>
							<div class="entry-content">
								<h6 class="entry-title">
									<a href="single.html" alt="">E-BOOKS</a>
								
								</h6>
								<p>An E-BOOK is a text presented in a format which allows it to be read on a computer or handheld device. Many titles which are available in printed versions can be read as ebooks, including bestselling fiction, classics and reference texts.e-books can consist simply of the electronic text.</p>
								
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 05 -->
		<section class="box-content box-5 box-style-3">
			<div class="container">
				<div class="row">
					<div class="box-item">
						<span style="color: chocolate;">Education doesn't contains fullstop it only contains comma's</span>
						<blockquote><p style="text-shadow: 3px 3px chocolate;">We will never stop Helping, so you never stop Learning.
                        </p></blockquote>
					</div>
				</div>
			</div>
		</section>
		
		
		<!-- ////////////Content Box 04 -->
		<section class="box-content box-4" style="background: #F8F9F0">
			<div class="container">
				<div class="row heading">
					<div class="col-lg-12">	
						<h2>What people are saying </h2>
						<div class="intro">about EDUMATE</div>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="https://mpng.subpng.com/20180810/io/kisspng-computer-icons-user-profile-clip-art-icon-design-asha-rani-author-at-hire-help-5b6e34d7a84d83.7891420915339491436894.jpg" class="img-responsive icon" style="width : 150px;">
							<h3>Regulation</h3>
							<p>As I am of R16 regulation it is very difficult to get those materials but from your I can easily get those materials...
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="https://banner2.cleanpng.com/20180625/req/kisspng-computer-icons-avatar-business-computer-software-user-avatar-5b3097fcae25c3.3909949015299112927133.jpg" class="img-responsive icon" style="width : 150px;"/>
							<h3>Interview Archives</h3>
							<p>Interview Archievs which you have provided really helped me while preparing for interview. I even cracked the interview because of that...
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="https://mpng.subpng.com/20180810/io/kisspng-computer-icons-user-profile-clip-art-icon-design-asha-rani-author-at-hire-help-5b6e34d7a84d83.7891420915339491436894.jpg" class="img-responsive icon" style="width : 150px;">
							<h3>FORUM

							</h3>
							<p>In this entire website forum helped me a lot to discuss my doubts and views with my peers and get the knowledge from them...
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="https://banner2.cleanpng.com/20180625/req/kisspng-computer-icons-avatar-business-computer-software-user-avatar-5b3097fcae25c3.3909949015299112927133.jpg" class="img-responsive icon" style="width : 150px;"/>
							<h3>TIME TABLE</h3>
							<p>As I am too bad in managing time I will easily forget the assigned time for a particular task through this I can easily open my timetable whenever needed...
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="https://mpng.subpng.com/20180810/io/kisspng-computer-icons-user-profile-clip-art-icon-design-asha-rani-author-at-hire-help-5b6e34d7a84d83.7891420915339491436894.jpg" class="img-responsive icon" style="width : 150px;">
							<h3>SOFTWARE TOOLS</h3>
							<p>I am a bit confused to choose which software to download, from this I can easily download required softwares without any confusion and errors...</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="https://banner2.cleanpng.com/20180625/req/kisspng-computer-icons-avatar-business-computer-software-user-avatar-5b3097fcae25c3.3909949015299112927133.jpg" class="img-responsive icon" style="width : 150px;"/>
							<h3>PRACTICE CODING</h3>
							<p>As my laptop doesnot support more applications, through this website I can code in any language without any installations and without any search for compilers...</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		
		<!-- ////////////Content Box 06 -->
		
		
	</div>
		
	<footer>
		
		<div class="wrap-footer">
			<div class="container">
				<div class="row"> 
					<div class="col-footer footer-1 col-md-12">
						<h2 class="footer-title">About Us</h2>
						<div class="footer-content">
							<h4 style="color: white;font-size: medium;" >"EDUMATE” is an e-learning website that makes the effort of a student to learn things easily.Students get availed with different sources at one platform reducing time and effort</h4><br> <br> 
							<i class="fa fa-phone"> </i> +91 8247823812<br> 
							<i class="fa fa-envelope"> </i> edumate.replies@gmail.com<br>
						</div>
					</div> 
					</div>
					</div>
					</div>
					
					
					
	</footer>
	<!-- Footer -->
	
	<!-- JS -->
	<script src="js/bootstrap.min.js"></script>
	
	<!-- Google Map -->
	<script>
	  var marker;
	  var image = 'images/map-marker.png';
      function initMap() {
        var myLatLng = {lat: 39.79, lng: -86.14};

		// Specify features and elements to define styles.
        var styleArray = [
          {
            featureType: "all",
            stylers: [
             { saturation: -80 }
            ]
          },{
            featureType: "road.arterial",
            elementType: "geometry",
            stylers: [
              { hue: "#000000" },
              { saturation: 50 }
            ]
          },{
            featureType: "poi.business",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];
		
        var map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          scrollwheel: false,
		   // Apply the map style array to the map.
          styles: styleArray,
          zoom: 7
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });

		// Create a marker and set its position.
        marker = new google.maps.Marker({
          map: map,
		  icon: image,
		  draggable: true,
          animation: google.maps.Animation.DROP,
          position: myLatLng
        });
		marker.addListener('click', toggleBounce);
      }
	  
	  function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7V-mAjEzzmP6PCQda8To0ZW_o3UOCVCE&callback=initMap" async defer></script>
	
</body>
</html>